/* Tombol */
.button-des {
  position: absolute;
  right: 10px;
  z-index: 10;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--text-color);
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-des:hover {
  background-color: var(--button-hover);
  transform: scale(1.1);
}

/* Section Deskripsi */
#section-des {
  background-color: var(--descripsi-bg);
  border: 2px solid var(--background-dark);
  position: absolute;
  right: 0.3rem;
  top: 3rem;
  padding: 1.5rem 1rem;
  height: auto;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Animasi saat deskripsi ditampilkan */
#section-des.show {
  width: 22vw;
  opacity: 1;
}

#section-des.close {
  width: 0;
  transform: translateX(40px);
  opacity: 0;
}
